<template>
	<div class="dwf-initiatives">
		<h3>Powered by People</h3>
		<p>Understanding the motivations, challenges, and strategies of the contributors to Wikimedia Projects.</p>
		<a href="powered-by-people.html">Read More</a>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent( {
	name: 'DwfInitiativesCards',
	setup() {
		return {isComponentPage};
	}
} );
</script>
